.clr {
    clear: both
}

#board {
    width: 500px;
    height: 600px;
    position: relative;
    margin: 5px auto;
}

#board .inner {
    width: 398px;
    height: 498px;
    position: absolute;
    top: 50px;
    left: 50px;
    background: white
}

.figure {
    position: absolute;
    border: 2px solid black;
}

.solo{
    background-color: #3399CC;
}

.hor{
    background-color: #FFCC00;
}

.vert{
    background-color: #66CC33;
}

.target{
    background-color: #FD5E42;
}

#board_select {
    width: 500px;
    margin: 10px auto
}

.button {
    border: 1px solid #FD5E42;
    float: left;
    margin: 0px 10px;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    background: white;
    border-radius: 20px;
}

.button.active {
    background: #FD5E42;
    color: white;
}

#reset {
    padding: 10px;
    float:right;
    cursor: pointer;
}

.brdr {
    position: absolute;
}

/* board */

#border-outer{
    position: absolute;
    border:  2px solid black;
    width: 498px;
    z-index: 1;
    height: 598px;
}
#border-inner{
    top: 48px;
    left: 48px;
    position: absolute;
    border: 2px solid black;
    width: 398px;
    z-index: 1;
    height: 498px;
}
#border-exit{
    left: 148px;
    z-index: 2;
    bottom: -2px;
    position: absolute;
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 198px;
    height: 54px;
}
